In [1]:
#QUESTION1

# Given an array
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sorting the list
ages.sort()

# Find the min and max age
min_age = ages[0]
max_age = ages[-1]

# Add the min and max age again to the list
ages.extend([min_age, max_age])

# Finding the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of ages
age_range = max_age - min_age

# Printing the results
print("Sorted Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Age Range:", age_range)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Age Range: 7

In [2]:
#QUESTION 2
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Mowgli'
dog['color'] = 'GoldenBrown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 6

# Create a student dictionary
student = {
    'first_name': 'Sai',
    'last_name': 'Krishna',
    'gender': 'Male',
    'age': 24,
    'marital_status': 'Single',
    'skills': ['Cloud', 'Linux'],
    'country': 'India',
    'city': 'Hyderabad',
    'address': 'Kothapet'
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills_value = student['skills']
skills_data_type = type(skills_value)

# Modify the skills values by adding one or two skills
student['skills'].extend(['Deep Learning', 'Data mining'])

# Get the dictionary keys as a list
keys_list = list(student.keys())

# Get the dictionary values as a list
values_list = list(student.values())

# Printing the results
print("Dog Dictionary:", dog)
print("Student Dictionary Length:", student_length)
print("Skills Data Type:", skills_data_type)
print("Modified Student Dictionary:", student)
print("Dictionary Keys:", keys_list)
print("Dictionary Values:", values_list)

Dog Dictionary: {'name': 'Mowgli', 'color': 'GoldenBrown', 'breed': 'Labrador', 'legs': 4, 'age': 6}
Student Dictionary Length: 9
Skills Data Type: <class 'list'>
Modified Student Dictionary: {'first_name': 'Sai', 'last_name': 'Krishna', 'gender': 'Male', 'age': 24, 'marital_status': 'Single', 'skills': ['Cloud', 'Linux', 'Deep Learning', 'Data mining'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Kothapet'}
Dictionary Keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary Values: ['Sai', 'Krishna', 'Male', 24, 'Single', ['Cloud', 'Linux', 'Deep Learning', 'Data mining'], 'India', 'Hyderabad', 'Kothapet']

In [36]:
#QUESTION 3
# Tuple containing names of sisters and brothers
sisters = ('Rohini', 'Rukul')
brothers = ('salman khan', 'vicky kaushal', 'sharukh khan')

# Join brothers and sisters tuples
siblings = sisters + brothers

# Count how many siblings you have
num_siblings = len(siblings)

# Modify the siblings tuple and add the name of your father and mother
family_members = ('Father', 'Mother') + siblings

# Printing the results
print("Siblings:", siblings)
print("Number of Siblings:", num_siblings)
print("Family Members:", family_members)

Siblings: ('Rohini', 'Rukul', 'salman khan', 'vicky kaushal', 'sharukh khan')
Number of Siblings: 5
Family Members: ('Father', 'Mother', 'Rohini', 'Rukul', 'salman khan', 'vicky kaushal', 'sharukh khan')

In [39]:
#QUESTION 4
# Given sets and list

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
length_it_companies = len(it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')

# Insert multiple IT companies at once to the set it_companies
it_companies.update({'Capgemini', 'Infosys', 'Tech Mahindra'})

# Remove one of the companies from the set it_companies
it_companies.remove('Apple')

# Difference between remove and discard:
# remove will raise an error if the element is not present, while discard will not.
# For example, it_companies.remove('Nonexistent') would raise an error if 'Nonexistent' is not in it_companies,
# while it_companies.discard('Nonexistent') would not raise an error.

# Join A and B
joined_AB = A.union(B)

# Find A intersection B
intersection_AB = A.intersection(B)

# Is A subset of B
is_A_subset_of_B = A.issubset(B)

# Are A and B disjoint sets
are_A_and_B_disjoint = A.isdisjoint(B)

# Join A with B and B with A
joined_A_with_B = A.union(B)
joined_B_with_A = B.union(A)

# What is the symmetric difference between A and B
symmetric_difference_AB = A.symmetric_difference(B)

# Delete the sets completely
del it_companies
del A
del B

# Convert the ages to a set and compare the length of the list and the set
ages_set = set(age)
length_age_list = len(age)
length_age_set = len(ages_set)

# Printing the results
print("Length of it_companies:", length_it_companies)
print("Joined A and B:", joined_AB)
print("Intersection of A and B:", intersection_AB)
print("Is A subset of B?", is_A_subset_of_B)
print("Are A and B disjoint sets?", are_A_and_B_disjoint)
print("Joined A with B:", joined_A_with_B)
print("Joined B with A:", joined_B_with_A)
print("Symmetric difference between A and B:", symmetric_difference_AB)
print("Length of age list:", length_age_list)
print("Length of age set:", length_age_set)

Length of it_companies: 7
Joined A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint sets? False
Joined A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joined B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

In [42]:
#QUESTION 5
import math

# Given radius
radius = 30

# Calculate area
area_of_circle = math.pi * radius ** 2

# Calculate circumference
circum_of_circle = 2 * math.pi * radius

# Output the results
print("Area of the circle:", area_of_circle)
print("Circumference of the circle:", circum_of_circle)

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle (in meters): "))
user_area_of_circle = math.pi * user_radius ** 2
print("Area of the circle with radius", user_radius, "is:", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle (in meters): 10
Area of the circle with radius 10.0 is: 314.1592653589793

In [43]:
#QUESTION 6
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
print(words)
unique_words = set(words)
unique_word_count = len(unique_words)
print("Unique words count:", unique_word_count)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
Unique words count: 10

In [44]:
#QUESTION 7
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [45]:
#QUESTION 8
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius {} is {} meters square.".format(radius, area))

The area of a circle with radius 10 is 314.0 meters square.

In [46]:
#QUESTION 9

# Read the number of students from the user
N = int(input("Enter the number of students: "))

# Initialize lists to store weights in pounds and kilograms
weights_lbs = []
weights_kgs = []

# Read weights in pounds for N students
for i in range(N):
    weight_lbs = float(input(f"Enter the weight of student {i+1} in pounds: "))
    weights_lbs.append(weight_lbs)

# Convert weights to kilograms and store them in a separate list
for weight_lbs in weights_lbs:
    weight_kgs = weight_lbs * 0.453592
    weights_kgs.append(round(weight_kgs, 2))

# Print the lists
print("Weights in pounds:", weights_lbs)
print("Weights in kilograms:", weights_kgs)

Enter the number of students: 3
Enter the weight of student 1 in pounds: 10
Enter the weight of student 2 in pounds: 20
Enter the weight of student 3 in pounds: 25
Weights in pounds: [10.0, 20.0, 25.0]
Weights in kilograms: [4.54, 9.07, 11.34]